<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="psen_scan">
  <!-- Example on how to use the psen_scan scanner within your robots urdf -->

  <xacro:include filename="$(find psen_scan_v2)/urdf/psen_scan.urdf.xacro" />

  <xacro:psen_scan prefix="laser_1" ros_topic="scan" />
</robot>