<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="psen_scan">

  <!-- Example on how to use the psen_scan scanner within your robots urdf -->
  <xacro:arg name="prefix" default="laser_1"/>
  <xacro:arg name="prefix_0" default="laser_1_Subscriber0"/>
  <!-- <xacro:arg name="prefix_1" default="laser_1_Subscriber1"/> -->
  <!-- <xacro:arg name="prefix_2" default="laser_1_Subscriber2"/> -->

  <xacro:include filename="$(find psen_scan_v2)/urdf/xacros/psen_scan.urdf.xacro" />

  <link name="base_link"/>

  <!-- PSENscan Master -->
  <xacro:psen_scan prefix="$(arg prefix)" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:psen_scan>

  <!-- PSENscan Subscriber0 -->
  <xacro:psen_scan prefix="$(arg prefix_0)" parent="base_link">
    <origin xyz="-0.5 0 0" rpy="0 0 3.14" />
  </xacro:psen_scan>

  <!-- PSENscan Subscriber1 -->
  <!-- <xacro:psen_scan prefix="$(arg prefix_1)" parent="base_link">
    <origin xyz="-0.5 0.5 0" rpy="0 0 3.14" />
  </xacro:psen_scan> -->

  <!-- PSENscan Subscriber2 -->
  <!-- <xacro:psen_scan prefix="$(arg prefix_2)" parent="base_link">
    <origin xyz="0.5 -0.5 0" rpy="0 0 3.14" />
  </xacro:psen_scan> -->

</robot>
